/* Overpass font */

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass/static/Overpass-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

/* Montserrat font */

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
