/* General Styles */

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #231f20;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
}

h3 span {
  color: #ff9900;
}

/* Header */

header .header {
  padding: 50px 0 50px 0;
}
header .header .header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .header_wrapper .logo a,
.footer .column .logo a {
  font-size: 45px;
  color: #ff9900;
  font-family: "Overpass", sans-serif;
}
header .header .header_wrapper .navigation nav ul {
  display: flex;
  -moz-column-gap: 35px;
  column-gap: 35px;
}
header .header .header_wrapper .navigation nav ul li a {
  font-size: 20px;
  color: #ff9900;
  position: relative;
  overflow: hidden;
}

header .header .header_wrapper .navigation nav ul li a::after,
.footer .column nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ff9900;
  transition: width 0.3s ease;
}

header .header .header_wrapper .navigation nav ul li a:hover::after,
.footer .column nav ul li a:hover::after {
  width: 100%;
}

/* About Section */
.about_section {
  background: linear-gradient(to bottom, #231f20 0%, #4c4345 70%, #231f20 100%);
}

.about_section .about_section_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.about_section .about_section_wrapper .text_block {
  width: 49%;
  height: 100%;
}

.about_section .about_section_wrapper .text_block p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 200;
  margin-top: 40px;
  line-height: 30px;
}
.about_section .about_section_wrapper .image_block {
  width: 52%;
  height: 400px;
}
.about_section .about_section_wrapper .image_block img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 3D Model Section */
.three_d_model_section {
  padding: 100px 0 100px 0;
}

.three_d_model_section .three_d_model_section_wrapper .model {
  margin-top: 40px;
}

/* Functional Decomposition Section */
.functional_decomposition_section {
  background: linear-gradient(to bottom, #231f20 0%, #4c4345 70%, #231f20 100%);
  padding: 100px 0 100px 0;
}

.functional_decomposition_section .schematics {
  margin-top: 40px;
  width: 100%;
}

.functional_decomposition_section .schematics img {
  width: 100%;
  object-fit: cover;
}

/* Team Members Section */
.team_members_section {
  padding: 100px 0 100px 0;
}

.team_members_section .team_members_section_wrapper .blocks {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.team_members_section .team_members_section_wrapper .blocks .each_block {
  width: 30%;
  box-shadow: 0 8px 16px rgba(255, 153, 0, 0.5);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team_members_section .team_members_section_wrapper .blocks .each_block .image {
  width: 90%;
  height: 200px;
}

.team_members_section
  .team_members_section_wrapper
  .blocks
  .each_block
  .image
  img {
  width: 100%;
}

.team_members_section
  .team_members_section_wrapper
  .blocks
  .each_block
  .image
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.team_members_section
  .team_members_section_wrapper
  .blocks
  .each_block
  .text_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
}

.team_members_section
  .team_members_section_wrapper
  .blocks
  .each_block
  .text_block
  h5 {
  color: #ffffff;
  margin-top: 30px;
  font-size: 25px;
}

.team_members_section
  .team_members_section_wrapper
  .blocks
  .each_block
  .text_block
  p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
}

.team_members_section
  .team_members_section_wrapper
  .blocks
  .each_block
  .text_block
  .social_media_icons {
  display: flex;
  column-gap: 20px;
}

.team_members_section
  .team_members_section_wrapper
  .blocks
  .each_block
  .text_block
  .social_media_icons
  div
  i {
  color: #ff9900;
  font-size: 22px;
  transition: transform 0.3s ease;
}

.team_members_section
  .team_members_section_wrapper
  .blocks
  .each_block
  .text_block
  .social_media_icons
  div
  i:hover {
  transform: scale(1.2);
}

/* Footer */
footer {
  border-top: 2px solid #ff9900;
  padding: 70px 0 70px 0;
  background: linear-gradient(to bottom, #231f20 0%, #4c4345 70%, #231f20 100%);
}

.footer {
  display: flex;
  column-gap: 150px;
}

.footer .column:nth-child(2) nav ul li:not(:first-child) {
  margin-top: 25px;
}

.footer .column nav ul li a {
  font-size: 22px;
  color: #ff9900;
  position: relative;
  overflow: hidden;
}

.footer .column:nth-child(3) {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.footer .column:nth-child(3) p {
  font-size: 22px;
  color: #ff9900;
}

.footer .column:nth-child(3) a {
  font-size: 16px;
  color: #231f20;
  font-weight: 500;
}
