header {
  .header {
    padding: 50px 0 50px 0;
    background-color: #231f20;

    .header_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        a {
          font-size: 48px;
          color: #ff9900;
        }
      }

      .navigation {
        nav {
          ul {
            display: flex;
            column-gap: 35px;

            li {
              a {
                font-size: 22px;
                color: #ff9900;
                font-family: "Overpass", sans-serif;
              }
            }
          }
        }
      }
    }
  }
}
